@import "partials/base";

$link-color: $black;

*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: $base-font-name;
	font-weight: $base-font-light;
	font-size: 100%;
	line-height: $line-height;
	letter-spacing: 0.01em;
	color: $black;
	line-height: 1.6em;
}

.social {
	margin: 0 auto;
	width: auto;
	ul {
		list-style: none;
		width: 12em;
		margin: 0 auto;
		li {
			display: inline-block;
			margin: 1em;
		}
	}
	img {
		width: 3em;
	}
}

.container {
	min-height:100%;
}

.content {
	padding: 0;
	width: 100%;
	min-height: 100%;
	background: $white;
	padding: $padding-margin-value;
}


.logo {
	max-width:100%;
	height:auto;
	margin: 0 auto;
	display: block;
	padding-bottom: $padding-margin-value;

}

header {
	background: $white;
	width: 100%;
	margin: 0 auto;
}

nav {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	ul {
		padding: 0;
		list-style: none;
		width: 100%;
		margin: 0 auto;
		display: flex;
		max-width: 30em; 
		flex-wrap: wrap;
		flex-direction: row;
		li {
			border-top:solid 0.1em $dark-grey;
			flex-grow: 1;
			max-width: 10em;
			width: 32%;
			min-width: 5em;
			text-align: center;
			display: inline-block;
			padding: $padding-margin-value 0;
			margin: 0 auto;
			text-align: center;
			font-size: $base-font-size;
			&:hover {
			border-top:solid 0.1em $black;
			}
			a {
				text-transform: uppercase;
				color: $link-color;
				&:visited{
					color: $link-color;
				}
			}

		}
	}
}

a {
	text-decoration: none;
	opacity:0.7; 
	color:$accent-color;
	&:hover {
    	opacity:1;  
	}
	&:visited {
	  color:$accent-color;
	}
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-font-size;
}
 
h1, h3, h3 {
	color:$accent-color;
}

.lower-case {
	text-transform:lowercase;
}

.feedback {
	text-align: center;
	padding: $padding-margin-value*2 $padding-margin-value;
}


form {
  margin: 0 auto;
  width: 100%;
  max-width: 20em;
  padding: $padding-margin-value;
}

input[type=text] {
  display: block;
  width: 100%;
  padding: $form-padding-value;
  margin: $form-padding-value auto $form-padding-value auto;
  border: 1px solid $grey;
  color: $black;
}

input[type=email] {
  display: block;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  width: 100%;
  border: 1px solid $grey;
  color: $black;
}

input[type=number] {
  display: block;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  width: 100%;
  border: 1px solid $grey;
  color: $black;
}

input[type=submit] {
  display: block;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  width: 100%;
  border: none;
  opacity: 0.7;
  box-shadow: .5em .5em 0px rgba(0,0,0,.1);
  background-color: $accent-color;
  color: $black;
  &:hover { 
    opacity:1;  
  }
}


textarea {
  display: block;
  width: 100%;
  padding: $form-padding-value;
  margin: 0 auto $form-padding-value auto;
  border: 1px solid $grey;
  color: $black;
}

.centered {
	text-align:center;
}

.map-container {
	max-width: $max-width - $padding-margin-value;
	margin: $padding-margin-value/2 auto;
	height: 30em;
}

#map-canvas, #map-canvas-1 {
	width:100%;
	height: 100%;
	margin: 0 auto;
	background-color: $grey;
}

.column-container {
	display: flex;
	flex-wrap: wrap;
	max-width: $max-width; 
	margin: 0 auto;
	flex-direction: row;

}

.full-section {
	background-color: $grey;
	margin: 0 auto;
	max-width: $max-width;
	padding: $padding-margin-value/2;

	@media only screen and (min-width: 448px) {
		padding: $padding-margin-value*2;

	}


}

p {
	padding: $padding-margin-value/3 0;
	margin: 0 auto;
	text-align: left;
	line-height: 1.3em;
	font-size: 1.1em;
}
 
section {
	background-color: $grey;
	min-width: 15em;
	flex-grow: 1;
	flex: 1;	
	align-items: flex-start;
	height: auto;
	margin: $padding-margin-value/2 0;
	padding: $padding-margin-value;
	min-height: 5em;
	width:100%;

}

footer {
  	padding: $padding-margin-value*2 $padding-margin-value;
	background: rgba(117,162,84,1);
	background: -moz-linear-gradient(-45deg, rgba(117,162,84,1) 0%, rgba(143,173,119,1) 0%, rgba(119,199,172,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(117,162,84,1)), color-stop(0%, rgba(143,173,119,1)), color-stop(100%, rgba(119,199,172,1)));
	background: -webkit-linear-gradient(-45deg, rgba(117,162,84,1) 0%, rgba(143,173,119,1) 0%, rgba(119,199,172,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(117,162,84,1) 0%, rgba(143,173,119,1) 0%, rgba(119,199,172,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(117,162,84,1) 0%, rgba(143,173,119,1) 0%, rgba(119,199,172,1) 100%);
	background: linear-gradient(135deg, rgba(117,162,84,1) 0%, rgba(143,173,119,1) 0%, rgba(119,199,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a254', endColorstr='#77c7ac', GradientType=1 );	p {
	text-align: center;
	}
	a {
		color: $white;
		text-decoration: none;
		&:visited {
			color: $white;
		}
	}

	nav {
		width: 100%;
		padding-top: $padding-margin-value;
		background-color: $black;
		li {
		  display: inline-block;
		  width: auto;
		  padding: 0;
		}
	}
	p {
		font-size: .9em;

	}
}
@media (min-width:500px) {
	.column-container {
		flex-direction: row;
	}
	section {
		width: 30%;
		display: inline-block;
    	vertical-align: top;
    	margin: $padding-margin-value/2;

	}

}