@import "reset";
@import "colours";
@import "typography";

// $icon-size: 6em;
$line-height: 1.3em;
$padding-margin-value: 1em; 
$accent-color: $green;

// $link-color: $accent-color;

$max-width: 60em;